<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
   
    <link name="lidar_front">
        <visual>
            <geometry>
                <box size="0.06 0.06 0.09" />
            </geometry>
            <origin xyz="0 0 0.0525" rpy="0 0 0" />
            <material name="purple" />
        </visual>
    </link>


    <link name="front_camera">
        <visual>
            <geometry>
                <box size="0.03 0.16 0.03" />
            </geometry>
            <origin xyz="0 0 0.015" rpy="0 0 0" />
            <material name="purple" />
        </visual>
    </link>

    <link name="camera_back">
        <visual>
            <geometry>
                <box size="0.03 0.16 0.03" />
            </geometry>
            <origin xyz="0 0 0.015" rpy="0 0 0" />
            <material name="purple" />
        </visual>
    </link>

    <link name="gps_antena">
        <visual>
            <geometry>
                <cylinder radius="0.065" length="0.065" />
            </geometry>
            <origin xyz="0 0 0.035" rpy="0 0 0" />
            <material name="purple" />
        </visual>
    </link>

    <link name="lte_antena">
        <visual>
            <geometry>
                <box size="0.04 0.15 0.06" />
            </geometry>
            <origin xyz="0 0 0.04" rpy="0 0 0" />
            <material name="purple" />
        </visual>
    </link>

    <joint name="lte_horizontal_joint" type="fixed">
        <parent link="horizontal_gps_stand" />
        <child link="lte_antena" />
        <origin xyz="0 0.185 0.00125" rpy="0 0 0"/>
    </joint>

    <joint name="lidar_front_platform_joint" type="fixed">
        <parent link="platform_link" />
        <child link="lidar_front" />
        <origin xyz="0.25 0 0" rpy="0 0 0"/>
    </joint>


    <joint name="camera_front_platform_joint" type="fixed">
        <parent link="horizontal_camera_stand" />
        <child link="front_camera" />
        <origin xyz="0.075 0 0" rpy="0 0 0"/>
    </joint>

    <!-- <joint name="camera_front_joint" type="fixed">
        <parent link="front_camera" />
        <child link="zed_camera_link" />
        <origin xyz="0.075 0 0" rpy="0 0 0"/>
    </joint> -->

    <joint name="camera_back_platform_joint" type="fixed">
        <parent link="horizontal_camera_stand" />
        <child link="camera_back" />
        <origin xyz="-0.075 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="gps_antena_horizontal_stand_joint" type="fixed">
        <parent link="horizontal_gps_stand" />
        <child link="gps_antena" />
        <origin xyz="0 0 0.0125" rpy="0 0 0"/>
    </joint>


</robot>